.passDig{
  display: none;
}
.passDig .passdig-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 666;
}

.passDig .passdig-body {
  position: fixed;
  width: 6.4rem;
  background: #fff;
  border-radius: 0.16667rem;
  padding: 0.4rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 766;
}
.passDig .passdig-body p {
  margin: 0;
  font-size: 0.28667rem;
  padding-bottom: 0.233rem;
}
.passDig .passdig-body>div{
  margin-top: 0.26rem;
}
.passDig .passdig-body .body-confirm {
  margin-bottom: 0.43rem;
}
.passDig .passdig-body input {
  width: 100%;
  height: 0.66667rem;
  font-size: 0.25rem;
  margin-top: 0.26rem;
  border: none;
  border-bottom: 1px solid #E5E5E5;
  outline: none;
  line-height: 0.66667rem;
}
.passDig .passdig-body .passdig-add {
  width: 4.4rem;
  height: 0.66667rem;
  margin: auto;
  text-align: center;
  line-height: 0.666rem;
  border-radius: 0.53333rem;
  background: #E30B20;
  font-size: 0.266rem;
  color: #fff;
}
