.subTitle {
    margin-top: 41px;
    margin-bottom: 25px;
   font-size:24px;
   font-weight:300;
   color:rgba(51,51,51,1);
} 
.mainnav {
    margin-bottom: 22px;
    padding: 18px 0 16px 99px;
    height: 50px;
    background-color: #EEE;
    font-size:16px;
    font-weight:400;
    color:rgba(0,42,102,1);
}
.main {
    font-size:16px;
    font-weight:normal;
    color:rgba(51,51,51,1);
}
.pad {
    padding-left: 35px;
}
.main .row {
    padding-bottom: 20px;
    border-bottom: 1px dashed #DDDDDD;
    margin: 0 0 20px 0;
}
/* 分页 */
#myPage {
    margin : 41px 0 61px 250px;
  }
/* 结束 */