/* 政府领导样式页 */

.main {
    margin-top: 40px;
}

.characters-info {
    padding: 36px 78px 92px 81px;
    margin-right: 55px;
    width: 300px;
    height: 681px;
    background-color: #F5F5F5;
}

.main-detail {
    width: 845px;
    height: 681px;
}

.photo {
    position: relative;
    width: 141px;
    height: 175px;
    background-color: #fff;
}

.photo img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.name {
    padding-left: 23px;
    margin-top: 17px;
    margin-bottom: 76px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 18px;
}

.nameBox {
    padding: 0 35px;
}

.name2 {
    font-size: 22px;
    font-weight: normal;
    color: rgba(0, 42, 102, 1);
    line-height: 22px;
}

.name3 {
    margin-top: 16px;
    font-size: 22px;
    font-weight: 300;
    color: rgba(102, 102, 102, 1);
}

.name4 {
    margin-top: 44px;
    font-size: 22px;
    font-weight: normal;
    color: rgba(0, 42, 102, 1);
}

.title {
    width: 100%;
    height: 46px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #ddd;
}

.title .tag {
    margin-right: 15px;
    width: 3px;
    height: 23px;
    background: rgba(0, 64, 153, 1);
}

.title .titleText {
    font-size: 24px;
    font-weight: 300;
    color: rgba(51, 51, 51, 1);
    line-height: 24px;
}

.introduce {
    margin-top: 29px;
}

.introduce p {
    margin-bottom: 17px;
    font-size: 16px;
    font-weight: normal;
    color: rgba(51, 51, 51, 1);
    line-height: 16px;
}

.leader-activity {
    width: 100%;
}


/* 领导活动区域样式 */

.menuItemBox {
    width: 100%;
    height: 18px;
    clear: both;
}

.menuItemBox:hover .mainmenuText a {
    color: #002a66;
}

.menuItemBox:hover .circleStyle {
    background-color: #002a66;
}

.circle {
    height: 18px;
}

.circleStyle {
    margin-top: 7px;
    margin-right: 14px;
    width: 5px;
    height: 5px;
    background: rgba(221, 221, 221, 1);
    border-radius: 50%;
}

.mainmenuText {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
}

.mainmenuText a {
    color: #333;
}