/* 走进江州- 人文江州 样式 */
.main {
    margin-top: 39px;
}
.menus {
    
    margin-right: 59px;
    /* height: 600px; */
    width: 300px;
}

.contents {

    width: 840px;
}

.uu {
    line-height: 50px;

}
.m-title {
    width: 300px;
    height: 60px;
    color:#fff;
    background-color:#002A66;
    text-align: center;
    line-height: 60px;
    font-size:18px;
    font-weight:300;

}
.currentli a{
    color:#002A66 !important;
    font-weight: 400 !important;
}
/* .currentli {
    color:#fff !important;
    background-color:#002A66 !important;
} */
/* .uu li:hover {
    color:#002A66;
    font-weight: 400;
} */
.uu li {
    display: block;
    margin-bottom: 1px;
    width: 300px;
    height: 60px;
    background:rgba(245,245,245,1);
    text-align: center;
    line-height: 60px;
    font-size:18px;
    font-weight:300;
    color:rgba(51,51,51,1);
    cursor: pointer;
}


.getcolor {
}

.hide {
    display: none;
}
/* 右侧内容区域 */
.contents-title {
    position: relative;
    margin-bottom: 25px;
    width: 100%;
    height: 46px;
    font-size:24px;
    font-weight:300;
    color:rgba(0,42,102,1);
    line-height: 24px;
    border-bottom: 1px solid #E5E5E5;
}
.linestyle {
    position: absolute;
    bottom: 0;
    left: 0;
    width:93px;
    height:2px;
    background:#002A66;
}
.contents-text {
    margin-top: 30px;
    width: 100%;
    height: 44px;
    border-bottom: 1px dashed #DDDDDD;
  
}
.contents-text .circle {
    margin-right: 19px;
    color: #999;
}
.contents-text .text {
    font-size:16px;
    font-weight:normal;
    line-height: 16px;
    color:rgba(51,51,51,1);
}
/* 分页 */
#myPage {
    margin : 40px 0 70px 360px;
  }
/* 结束 */
.contents-food {
    width: 100%;
}
.contents-food .row {
    margin-right: 0;
    margin-left: 0;
}
.contents-food .col-md-4 {
    padding-right: 0;
    padding-left: 0;
    margin-right: 30px;
    width:260px;
    height:210px;
    background:rgba(245,245,245,1);
    border-radius:10px;
    overflow: hidden;
}
.contents-food-item a {
    display: block;
    width: 100%;
    height: 100%;
}
.contents-food-item a img {
    width: 100%;
    height: 160px;
}
.contents-food-item a p {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size:18px;
    font-weight:300;
    color:rgba(51,51,51,1);
}


