.header-box {
    width: 100%;
    height: 100px;
    background-color: #002A66;
}

.logo {
    padding-top: 23px;
}

.search-input {
    padding-top: 29px;
    width: 575px;
    height: 42px;
}
.search-input input{
    padding: 0 0 0 20px;
    font-size: 16px;
}
.input-style {
    width: 430px;
    height: 42px;
}

.search-btn {
    width: 70px;
    height: 42px;
    background-color: #004099;
}

.search-input .iconfont {
    color: #fff;
    font-size: 26px;
}

.advanced-search {
    margin-top: 15px;
    padding-left: 14px;
    height: 12px;
    font-size: 12px;
    font-weight: 300;
}

.advanced-search a {
    color: #E9F1FB;
}

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    padding: 0 0 0 0;
    color: #999;
    /* placeholder字体大小  */
    font-size: 16px;
}


/* 选项卡 */

.tab-card {
    margin-top: 39px;
}

.left-card {
    width: 722px;
    margin-right: 80px;
}

.section-main-title {
    position: relative;
    height: 40px;
    font-size: 18px;
    color: #666;
    border-bottom: 1px solid #DDD;
}

.section-item {
    margin-right: 65px;
}


/* 可控制的底部边框线 */

.line-active {
    padding-bottom: 14px;
    border-bottom: 1px solid #002A66;
}


/* 推荐 */

.right-recommend {
    width: 397px;
}
.right-recommend .result-title span {
    font-size: 16px;
}
.right-recommend .section-main-nav {
    margin-bottom: 0;
}
.sortord {
    margin-right: 19px;
}

.spanborder {
    margin-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #E5E5E5;
}

.sortord-item1 {
    font-size: 14px;
    color: #333;
    font-weight: 400;
}

.sortord-item2 {
    font-size: 14px;
    font-weight: 300;
    color: rgba(234, 53, 38, 1);
}

.sortord-item3 {
    margin-left: 17px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(102, 102, 102, 1);
}

.sortord-item4 {
    margin-left: 18px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(102, 102, 102, 1);
}


/* 三角 */

.triangle {
    display: inline-block;
    padding-top: 0;
    margin-left: 10px;
    width: 0;
    height: 0;
    border: 5px solid;
    border-color: #ccc transparent transparent;
}

.result-title {
    margin-bottom: 39px;
    font-size: 18px;
    font-weight: 300;
    color: #333;
}

.active-color{
    color: rgba(234, 53, 38, 1) !important;
}


/* 带小点的小标题 */

.section-main-nav {
    /* padding-top: 37px; */
    margin-bottom: 46px;
}
.li-style {
    width: 5px;
    height: 5px;
    margin-right: 10px;
    margin-top: 7px;
    background-color: #999;
    line-height: 10px;
    border-radius: 50%;
}

.subtitle {
    width: 100%;
    height: 52px;
}

.subtitle-item {
    font-weight: 400;
    font-size: 14px;
}

.subtitle-item-time {
    font-size: 16px;
    font-weight: 300;
    color: #999;
}


/* 结束 */


/* <!-- 中部带内容简介的标题 --> */

.tag {
    margin-right: 8px;
    width: 70px;
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 64, 153, 1);
}

.title {
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
}

.result-intro {
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

.result-intro {
    margin-top: 20px;
}

.promulgator {
    margin-top: 10px;
    font-size: 14px;
}

.per {
    margin-right: 10px;
    color: #002A66;
}

.datetime {
    color: #999;
}

.result-list {
    margin-bottom: 39px;
}



.rightresult {
    margin-bottom: 16px;
}

.rightresult .result-title {
    margin-top: 39px;
    margin-bottom: 30px;
}

.result-title span {
    font-size: 18px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

.rightresult .subtitle-item a {
    font-size: 14px;
    font-weight: 400;
    color: #999;
}

.rightresult .subtitle-item a:hover {
    text-decoration: underline !important;
    color: #666;
}

.left-card .subtitle-item a:hover {
    text-decoration: underline !important;
    color: #333;
}

.result-intro a:hover {
    text-decoration: underline !important;
    color: #666;
}

.colorStyle:hover {
    color: #004099;
}

.result-list .title:hover {
    text-decoration: underline !important;
}

.right-tag .item1 a:hover {
    color: #004099;
}

.rightresult .subtitle {
    height: 36.5px;
}

.rightresult .li-style {
    margin-top: 7px;
}


/* 右侧原型标签 */

.item1 {
    padding: 0 17px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 18px;
    background: rgba(245, 245, 245, 1);
    box-sizing: border-box;
}
.item1 a {
    display: block;
    width: 100%;
    height: 100%;
    color: #666;
    font-size:14px;
    font-weight:300;
}
.right-tag {
    height: 35px;
    margin-bottom: 20px;
}

.rightresult .section-main-title {
    height: 45px;
}


/* 二级搜索样式 */

.container {
    position: relative;
}

.mask {
    position: absolute;
    top: 149px;
    left: 0;
    width: 100%;
    z-index: 87;
    opacity: 0.5;
    background-color: black;
}

.second-search {
    position: absolute;
    top: 149px;
    left: 0;
    width: 100%;
    height: 650px;
    background: #fff;
    z-index: 88;
}

.second-search-box {
    position: relative;
    /* padding-top: 77px; */
}

.close-search {
    position: absolute;
    top: 17px;
    right: 20px;
}

.second-search-box .iconfont {
    font-size: 20px;
    color: #999;
}

.second-search-box .iconfont:hover {
    color: #002A66;
}

.second-search-input {
    position: relative;
}
.search-options-radio .time-input-box {
    position: relative;
}
.search-options-radio .time-input-box .time-input {
    margin-left: 10px;
    padding-left: 30px;
    width:220px;
    height:40px;
    line-height: 40px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(229,229,229,1);
    border-radius:3px;
    cursor: pointer;
}
.search-options-radio .time-input-box .iconfont {
    position: absolute;
    top: 10px;
    left: 19px;
    font-size: 12px;
    color: #E5E5E5;
}
.second-search-input div {
    margin-top: 30px;
    width: 100%;
    height: 45px;
    border-bottom: 2px solid #e6e6e6;
    font-size:18px;
    font-weight:300;
    color:rgba(51,51,51,1);
}

.second-search-input span {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 26px;
    height: 26px;
    
}

.search-result {
    margin-top: 40px;
}

.search-result-title {
    font-size: 16px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

.search-result form {
    margin-top: 24px;
}

.search-result form .form-input {
    margin-bottom: 20px;
}

.search-result form .form-input-item label {
    width: 155px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(102, 102, 102, 1);
    line-height: 14px;
    text-align: right;
}

.search-result form .form-input-item input {
    padding: 5px 0 0 20px;
    margin-left: 20px;
    width: 300px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(229, 229, 229, 1);
    border-radius: 3px;
}
.search-result form .form-input-item input:focus {
    border: 1px solid #002A66;
}

/* 单选按钮组 */

.search-options {
    margin-top: 52px;
}

.search-options-item {
    margin-bottom: 30px;
}

.search-options-item-title {
    width: 70px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 19px;
}

.search-options-radio {
    margin-left: 34px;
}

.search-options-radio label {
    width: 80px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(102, 102, 102, 1);
    line-height: 22px;
    /* padding: 0 25px; */
}

.search-result .go-search {
    margin-top: 30px;
    width: 300px;
    height: 50px;
    line-height: 50px;
    background: rgba(0, 42, 102, 1);
    border-radius: 2px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.second-search-box .close-search:hover {
    color: #003166;
}
